body{
  background-image:url(https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80);
  background-repeat:no-repeat;
  background-size: cover;

}

.header-elements{
  margin: 0;
  padding: 0;
  color: #FF1F78;
}


.title-p{
  text-align: center;
  font-family: 'Mate SC', serif;
  margin: 0 0 0 0;
}

.navbar {
  overflow: hidden;
  background-color: #FF1F78;
}
.home{
  float: left;
  font-size: 150%;
  color: white;
  text-decoration: none;
  margin-right: 10%;
}
.Latest{
  font-size: 150%;
  color: white;
  text-decoration: none;
}
.Menu{
  text-decoration: none;
  color: white;
  font-size: 150%;
  margin-left: 10%;
}
